<section>
  <div class="row justify-content-center gap-4">
    <div class="col-md-10">
      <mat-button-toggle-group
        *ngIf="jobs.length"
        [(ngModel)]="remoteControl"
        (change)="filterRemoteJobs()"
      >
        <mat-button-toggle value="false">All Jobs</mat-button-toggle>
        <mat-button-toggle value="true">Remote Jobs</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="row mt-4">
        <mat-form-field class="example-full-width col-12 col-md-8">
          <mat-label>Search by job title</mat-label>
          <input matInput (input)="filterRemoteJobs()" [(ngModel)]="searchControl" />
        </mat-form-field>
        <a
          class="d-flex align-items-center col-1 cursor"
          (click)="reset()"
          *ngIf="searchControl !== ''"
        >
          <mat-icon matSuffix class="text-tertiary-color"
            >restart_alt</mat-icon
          >
          <span class="text-tertiary-color">Reset</span>
        </a>
      </div>

      <div class="my-5" *ngFor="let job of jobs">
        <app-card [job]="job"></app-card>
      </div>

      <div class="mx-auto text-center">
        <img
          src="images/no-data.svg"
          alt="no-data"
          *ngIf="!jobs.length"
          class="w-50"
        />
      </div>

      <div
        class="d-flex justify-content-center align-items-center gap-3 mt-5"
        *ngIf="data?.data?.length"
      >
        <button
          [disabled]="currentPage === 1"
          (click)="previousPage()"
          class="button"
        >
          previous page
        </button>
        <button
          [disabled]="!data.links.next"
          (click)="nextPage()"
          class="button"
        >
          next page
        </button>
      </div>
    </div>
  </div>
</section>
